body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('images/background3.jpeg') ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, p, span, button, td {
    /*font-family: "Arial Rounded MT Bold";*/
    font-family: Tahoma;
    font-size: 1vw;
    /*font-family: "Times New Roman";*/
}

.NavBar {
    display: flex;
    z-index: 100;
    /*overflow: hidden;*/
    background-color: #333;
    height: 4.2vw;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.NavBarButtonStyle {
    background-image: url('images/WideScroll4.png');
    text-decoration: none;
    font-family: Tahoma;
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1%;
    margin-top: 0.5vw;
    width: 6%;
    text-align: center;
}

.NavBarButtonText {
    font-weight: bold;
    font-size: 1vw;
}

.username {
    color: white;
}

.AddButton {
    background-image: url('images/addButton1.png');
    text-decoration: none;
    font-family: Tahoma;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    padding: 2vw 0vw;
    width: 90%;
    height: 1vw;
    text-align: center;
    font-size: 1vw;
}

.AddButtonText {
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

.CategoriesHeaderButton {
    background-image: url('images/WideScroll4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2vw;
    width: 7vw;
    text-align: center;
}

.CategoriesHeaderButtonText {
    font-weight: bold;
    font-size: 1vw;
    /*font-style: italic;*/
}

.SubCategoryButton {
    background-image: url('images/HorizontalScroll4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10%;
    width: 59%;
    text-align: center;
}

.SubCategoryButtonText {
    font-weight: bold;
    font-size: 1vw;
    /*font-style: italic;*/
}

.SubSubCategoryButton {
    border: none;
    background: none;
    position: relative;
    align-content: center;
}

.SubSubCategoryButton {
    font-weight: bold;
    font-size: 1vw;
}

.Categories {
    /*padding: 20px;*/
    width:20%;
}

.SubCategories {

}

button {
    border: none;
    background: none;
    position: relative;
    text-align:center;
/*    align-content: center;
    top: 50%;
    left: 50%;*/
}
.Layout {
    height: 100%;
}

.MainPage {
    display: flex;
    margin-top:5%;
    margin-bottom:5%;
}

.Footer {
    display: flex;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%
}

.SubSubCategories {
    background-image: url('images/VerticalScroll1.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 20%;
    padding-bottom: 20%;
    width: 80%;
    background-position: center;
    position: relative;
    text-align: center;
}

.ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    width: 100%;
    margin-right: 1vw;
    background-color: rgba(122, 46, 43, 0.9);
    gap: 0rem;
    border: 1vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
}

.ProductList:empty{
    display: none;
}

.ProductCard {
    padding-left: 1vw;
    padding-top: 8vw;
    padding-bottom: 5vw;
    background-image: url('images/VerticalScroll3.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 20vw;
    background-position: center;
    position: relative;
    text-align: center;
}

.ProductCardText {
    font-weight: bold;
    font-size: 1vw;
    position: relative;
}

.cardRating {
    margin-left: 5vw;
}

.ProductDetails {
    border: 2vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
    width: 100%;
    margin-right: 1vw;
    background-color: rgba(122, 46, 43, 0.9);
    /*padding: 50px;*/
    color: white;
}
.ProductMainDetails {
    position: absolute;
    right: 4vw;
}

.ReviewBox {
    border: 2vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
    margin-bottom: 1vw;
}

.ReviewTitleText {
    color: white;
    font-size: xx-large;
}

.ReviewHeading {
    display: flex;
}

.ReviewStars {
    position: absolute;
    right: 5vw;
}

.ReviewComment {
    width: 87%;
}

.responsiveCarousel {
    height: 20vw;
    width: 20vw;
}

.Profile {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    border: 2vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
    background-color: rgba(122, 46, 43, 0.9);
    color: white;
    margin: 5% 1vw;

}

.ProfilePageTitle {
    text-align: center;
    font-size: 3vw;
}

.ProfilePic {
    width: 25vw;
    height: 25vw;
    border: 0.7vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
}

.ProfileInfo {
    margin-left: 20%;
    margin-top: 5%;
}

.ProfileInfoLines {
    margin: 40% 0%;
}

.Cart {
    margin: 5% 1vw;
    /*width: 100%;*/

    border: 2vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
    background-color: rgba(122, 46, 43, 0.9);
}

.CartItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
}

.TotalText {
    color: white;
    /*text-align: center;*/
    font-size: xx-large;
}

.CartItem {
    margin: 5%;
    padding: 20%;

    background-image: url('images/VerticalScroll3.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*width: 40%;*/

    background-position: center;
    position: relative;
    text-align: center;
}

.Quantity {
    font-weight: bold;
    font-size: 1vw;
    position: relative;
    padding-top: 2vw;
}

.AddAndSubtractQuantity {
    display: flex;
    position: relative;
    margin: auto;
    padding-top: 0.4vw;
    /*left: 1vw;*/
    /* flex-direction: row; */
    /* align-items: unset; */
    /* justify-content: center; */
    width: 17vw;
    /*padding-left: 1vw;*/
}

.ThankYouMessage {
    text-align: center;
    color: white;
    font-size: 7vw;
}

.ThankYouMessage2 {
    text-align: center;
    color: white;
    font-size: 3vw;
}

.TableBorder {
    border: 1vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 3vw;
    width: fit-content;
}

.TableButton{
    padding: 1vw;
}

.productPicturesInForm {
    height: auto;
    width: 29vw;
}

.cardImage {
    position: relative;
    top: 0px;
    left: 0px;
    height: 10vw;
    width: 13vw;
    border: 0.7vw solid;
    border-image: url('images/imageBorder3.png') 10% stretch;
    border-image-width: 2.1vw 1.8vw;
}

.Info {
    color: white;
    font-size: 1.5vw;
    padding-top: 1%;
    padding-left: 2px;

}

.NotificationButtonComplete {
    background-image: url('images/HorizontalScroll4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2vw;
    width: 100%;
    text-align: center;
}

.NotificationButtonDone {
    background-image: url('images/addButton1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2vw;
    width: 100%;
    text-align: center;
}

.Accordions {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16vw);
}

.Orders {
    margin-bottom: 2vw;
}

.OrderHeader {
    background-image: url('images/HorizontalScroll4.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2vw;
    width: 100%;
    color: black;
    background-position-x: 2.5vw;
    padding-left: 4.5vw;
}

.OrderTable {
    border: 0.5vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 1.5vw;
    width: fit-content;
}

.Flex {
    display: flex;
}

/*CSS/styling Frameworks*/

.registerForm {
    margin: 5% 1vw;
    border: 2vw solid;
    height: 35vw;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
    background-color: rgba(122, 46, 43, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: white;
}

table, tr, td {
    border: 2px #bb8c60 solid;
    border-collapse: collapse;
}

.InputField {
    color: white;
    background: transparent !important;
    /*background-color: #7A2E2BE5;*/
    border: 1vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round;
    border-image-width: 2vw;
}

.blackText {
    color: black;
}

.notification-success {
    background-color: rgb(243, 240, 240) !important;
}

.notification {
    box-sizing: border-box;
    padding: 15px 15px 15px 58px;
    border-radius: 2px;
    color: #000000 !important;
    background-color: #ccc;
    box-shadow: 0 0 12px #999;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.2em;
    position: relative;
    opacity: 1 !important;
    margin-top: 15px;
    border: 1vw solid;
    border-image: url('images/backgroundBorder1.png') 10% round !important;
    border-image-width: 2vw !important;
    box-shadow: none !important;
}


